<a href="https://colab.research.google.com/github/Harish-aditya/Learnings/blob/main/datetime.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import datetime as dat

In [ ]:
d = dat.date(2017, 3,13)# No leading zero for month
print(d)

2017-03-13

In [ ]:
tdy = dat.date.today()
print(tdy)

2022-11-24

In [ ]:
print(tdy.weekday() # Monday - 0 and Sunday - 6
print(tdy.isoweekday()) # Monday - 1 and Sunday - 7

3
4

In [ ]:
tdelta = dat.timedelta(days = 7) # captures a certain time.
print(tdelta+tdy)

2022-12-01

In [ ]:
tdelta = dat.timedelta(days = 30) # captures a certain time.
print(tdelta+tdy)

2022-12-24

In [ ]:
tdelta = dat.timedelta(days = 7) # captures a certain time.
print(tdy-tdelta)# present should be first when time goes back.

2022-11-17

In [ ]:
tdelta = dat.timedelta(days = 30) # captures a certain time.
print(tdy-tdelta)# present should be first when time goes back.

2022-10-25

In [16]:
bday = dat.date(2023,8,13)
Till_bday = bday-tdy
print(Till_bday)

262 days, 0:00:00

In [18]:
print(Till_bday.days)

262

In [20]:
print(Till_bday.total_seconds())

22636800.0

In [21]:
print(Till_bday.total_seconds())

22636800.0

In [23]:
tme = dat.time(9,34,45,1000) # hours, minutes, seconds, microseconds
print(tme)

09:34:45.001000

In [26]:
tme = dat.time(9,34,45,111000) # hours, minutes, seconds, microseconds
print(tme)

09:34:45.111000

In [27]:
date = dat.date() # date/month/year/day
tme = dat.time() # Hours/minutes/seconds/microseconds
dtetime = dat.datetime() # date/month/year/day Hours/minutes/seconds/microseconds

TypeError: ignored

In [28]:
dtetime = dat.datetime(2016,7,23,12,59,59,100000) # date/month/year/day Hours/minutes/seconds/microseconds
print(dtetime)

2016-07-23 12:59:59.100000