<a href="https://colab.research.google.com/github/Harish-aditya/Learnings/blob/main/DSA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## ALGORITHM
ALGORITHM should terminate and it should be independent of programming language

In [ ]:
# what is a efficiency
# time and memory

**Time complexity analysis**
1. I'm interested in that part of the program which is taking the maximum amount of time
2. I'll measure time complexity in terms of magnitude.(o(something))
3. A simple statement in my program will take unit 1.
simple statement example: a = a+2

In [ ]:
x = 10
y = 12
c = x-y
print(c) 
# here o(4)

In [ ]:
n = int(input())
for i in range(n):
  print("*")

#here O(n) if n is very large the program will spend lot of time in the loop

In [ ]:
n = int(input())
for i in range(n):
  for j in range(n):
    print("*")

# here 0(n^2) since there are two for loops.

In [ ]:
n = int(input())
for i in range(100):
  print("*")

# here O(100) or you can write it with an constant K O(k)

In [ ]:
n = int(input())
for i in range(n):
  print("*")
for j in range(n):
  print("*")
# here O(2n) since there are two for's

In [ ]:
n = int(input())
m = int(input())
for i in range(n):
  print("*")
for j in range(m):
  print("*")
# here O(n+m) since there are two distinct ranges.
# we can deduce that O(max(m,n)) also

O(n) means that in that particular code block which part takes the highest number of cycles or units to execute. Like degree in the algebric equations.

Time complexity function is a linear function.

In [ ]:
n = int(input())
m = int(input())
for i in range(n):
  print("*")
for j in range(m):
  for i in range(m):
    print("*")

# here O(m^2+n)

In [ ]:
n = int(input())
i = 1
count = 0
while i < n:
  j = n
  count += 1
  while j > 1:
    a = 1
    b = 5
    j = j/2
    count += 1
  i = i*2
print(count)

3
6

here o(log n * log n)

since for n = 4 i runs 2 times and j runs 2 times

since for n = 8 i runs 3 times and j runs 3 times

since for n = 16 i runs 4 times and j runs 4 times

log_2 4 = log_2 2^2 = 2*log_2 2 = 2
 
log_2 8 = log_2 2^3 = 3*log_2 2 = 3

### Recursion
Recursion has to break (base condition)

In [ ]:
def print_array(array):
  if len(array) == 0:
    return
  else:
    print(array[0])
    print_array(array[1:])
    # print(array[0])

x = [1,2,3,4]
print_array(x)

1
2
3
4

using heap and stack.

In [ ]:
x = list(map(int,input().split()))
print(x )

1 2
[1, 2]

In [ ]:
class M(object):
	
	def public(self):
		print ('Use Tab to see me !')
		
	def _private(self):
		print ("You won't be able to Tab to see me !")

In [ ]:
m = M()
m.public()

Use Tab to see me !

In [ ]:
m._private()

You won't be able to Tab to see me !

In [ ]:
arr = DynamicArray()

In [ ]:
len(arr)

0

In [ ]:
arr.append(1)

In [ ]:
len(arr)

1

In [ ]:
print(arr.A)

<__main__.py_object_Array_1 object at 0x7f90e2912cc0>

In [ ]:
import ctypes

ctypes is the dedicated package for dynamic array and all the c programming data types.

### ARRAY exercise

Exercise: Array DataStructure
Let us say your expense for every month are listed below,
January - 2200
February - 2350
March - 2600
April - 2130
May - 2190
Create a list to store these monthly expenses and using that find out,

1. In Feb, how many dollars you spent extra compare to January?

In [1]:
expense = [2200,2350,2600,2130,2190]

In [2]:
expense[1]

2350

2. Find out your total expense in first quarter (first three months) of the year.
3. Find out if you spent exactly 2000 dollars in any month
4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
5. You returned an item that you bought in a month of April and
got a refund of 200$. Make a correction to your monthly expense list
based on this

In [3]:
total_expense = expense[0] + expense[1] + expense[2]
total_expense

7150

In [4]:
for i in expense:
    if i == 2000:
        print(True)
    else:
        print(False)

False
False
False
False
False

In [5]:
expense.append(1980)

In [6]:
expense

[2200, 2350, 2600, 2130, 2190, 1980]

In [7]:
expense[3] = expense[3] - 200
expense[3]

1930

In [8]:
expense

[2200, 2350, 2600, 1930, 2190, 1980]

You have a list of your favourite marvel super heros.

1. Length of the list
2. Add 'black panther' at the end of this list
3. You realize that you need to add 'black panther' after 'hulk',
   so remove it from the list first and then add it after 'hulk'
4. Now you don't like thor and hulk because they get angry easily :)
   So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
   Do that with one line of code.
5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [9]:
heros=['spider man','thor','hulk','iron man','captain america']

In [10]:
len(heros)

5

In [11]:
heros.append("black panther")

In [12]:
heros.remove('black panther')

In [13]:
heros

['spider man', 'thor', 'hulk', 'iron man', 'captain america']

In [14]:
heros.insert(3,'black panther')

In [15]:
heros

['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']

In [25]:
heros[1:3] = ['Doctor Strange']

In [28]:
heros[2:4] = []

In [29]:
heros

['spider man',
 'Doctor Strange',
 'o',
 'r',
 ' ',
 'S',
 't',
 'r',
 'a',
 'n',
 'g',
 'e',
 'iron man',
 'captain america']

In [30]:
heros[2:-2] = []

In [31]:
heros

['spider man', 'Doctor Strange', 'iron man', 'captain america']

Create a list of all odd numbers between 1 and a max number. Max number is something you need to take from a user using input() function

In [32]:
x = int(input())
odd = []
for i in range(1,x+1):
    if i%2 == 1:
        odd.append(i)
    else:
        pass

In [33]:
odd

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49]